*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 5px;
    padding: 8px;
    background-color: darkcyan;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.counter{
    background-color: white;
    width: 500px;
    padding: 10px;
    border-radius: 5px;
}

h2{
    text-align: center;
    margin-bottom: 10px;
}

textarea{
    width: 480px;
    height: 100px;
    margin-bottom: 15px;
    border-radius: 5px;
}
